Pegue um dataset qualquer no Kaggle, Zindi ou outra plataforma de sua preferência, elabore uma análise que trabalhe o que você aprendeu nesta semana. É importante que você utilize o maior número possível de funcionalidades que você aprendeu. Assim como na atividade 1, inclua comentários sobre as descobertas feitas.
Veja, neste segundo caso, você deve realizar uma análise do zero sozinho com o que aprendeu ao longo da semana.

In [ ]:
# achei o dataset (The Big Five European Soccer Leagues) escolhido por mim utilizado na atividade 1 dessa semana muito bom 
# então decidi utilizar ele novamente mas partindo de uma análise do zero
# explorando o máximo de funções possível

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# começando com o básico lendo o dataset escolhido e expondo o cabeçalho para verificar sua distribuição certinho

dataset = pd.read_csv('Dataset da Semana 3\BIG FIVE 1995-2019.csv')
dataset.head()

,Round,Date,Team 1,FT,HT,Team 2,Year,Country,FT Team 1,FT Team 2,HT Team 1,HT Team 2,GGD,Team 1 (pts),Team 2 (pts)
0,1,(Sat) 19 Aug 1995 (W33),Aston Villa FC,3-1,3-0,Manchester United FC,1995,ENG,3,1,3,0,2,3,0
1,1,(Sat) 19 Aug 1995 (W33),Blackburn Rovers FC,1-0,1-0,Queens Park Rangers FC,1995,ENG,1,0,1,0,1,3,0
2,1,(Sat) 19 Aug 1995 (W33),Chelsea FC,0-0,0-0,Everton FC,1995,ENG,0,0,0,0,0,1,1
3,1,(Sat) 19 Aug 1995 (W33),Liverpool FC,1-0,0-0,Sheffield Wednesday FC,1995,ENG,1,0,0,0,1,3,0
4,1,(Sat) 19 Aug 1995 (W33),Manchester City FC,1-1,0-1,Tottenham Hotspur FC,1995,ENG,1,1,0,1,0,1,1

In [58]:
# o dataset possui uma coluna denominada Country que indica o país onde foi realizada a partida e por consequência em qual liga os times pertencem
# chamando o .unique() verificamos quais países são esses. 
lista_de_ligas = dataset['Country'].unique()
lista_de_ligas

array(['ENG', 'ESP', 'FR', 'GER', 'IT'], dtype=object)

In [59]:
# aqui usamos um loop for para dividir as ligas cada uma em um arquivo diferente, dividindo assim permite que a analise fique mais centrada para cada uma delas
# e também poupa trabalho se o objetivo for estudar cada uma de maneira separada
for liga in lista_de_ligas:
    caminho_do_arquivo = f"./Dataset da Semana 3/liga_{liga}.csv"
    dataset[dataset['Country'] == liga].to_csv(caminho_do_arquivo)

In [62]:
# lendo o novo arquivo criado a partir da iteração anterior

premier_league = pd.read_csv('./Dataset da Semana 3/liga_ENG.csv')
premier_league

,Unnamed: 0,Round,Date,Team 1,FT,HT,Team 2,Year,Country,FT Team 1,FT Team 2,HT Team 1,HT Team 2,GGD,Team 1 (pts),Team 2 (pts)
0,0,1,(Sat) 19 Aug 1995 (W33),Aston Villa FC,3-1,3-0,Manchester United FC,1995,ENG,3,1,3,0,2,3,0
1,1,1,(Sat) 19 Aug 1995 (W33),Blackburn Rovers FC,1-0,1-0,Queens Park Rangers FC,1995,ENG,1,0,1,0,1,3,0
2,2,1,(Sat) 19 Aug 1995 (W33),Chelsea FC,0-0,0-0,Everton FC,1995,ENG,0,0,0,0,0,1,1
3,3,1,(Sat) 19 Aug 1995 (W33),Liverpool FC,1-0,0-0,Sheffield Wednesday FC,1995,ENG,1,0,0,0,1,3,0
4,4,1,(Sat) 19 Aug 1995 (W33),Manchester City FC,1-1,0-1,Tottenham Hotspur FC,1995,ENG,1,1,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9403,9403,29,(Sat) 7 Mar 2020 (W10),Wolverhampton Wanderers FC,0-0,0-0,Brighton & Hove Albion FC,2019,ENG,0,0,0,0,0,1,1
9404,9404,29,(Sat) 7 Mar 2020 (W10),Burnley FC,1-1,1-0,Tottenham Hotspur FC,2019,ENG,1,1,1,0,0,1,1
9405,9405,29,(Sun) 8 Mar 2020 (W10),Chelsea FC,4-0,2-0,Everton FC,2019,ENG,4,0,2,0,4,3,0
9406,9406,29,(Sun) 8 Mar 2020 (W10),Manchester United FC,2-0,1-0,Manchester City FC,2019,ENG,2,0,1,0,2,3,0
9407,9407,29,(Mon) 9 Mar 2020 (W11),Leicester City FC,4-0,1-0,Aston Villa FC,2019,ENG,4,0,1,0,4,3,0

In [63]:
# fica aqui já as todas as outras ligas caso necessite a utilização delas posteriormente

la_liga = pd.read_csv('./Dataset da Semana 3/liga_ESP.csv')
bundesliga = pd.read_csv('./Dataset da Semana 3/liga_GER.csv')
serie_a = pd.read_csv('./Dataset da Semana 3/liga_IT.csv')
ligue_1 = pd.read_csv('./Dataset da Semana 3/liga_FR.csv')

In [78]:
# renomeando as colunas para deixar a compreensão mais facilitada e testar o . rename para saber como funciona, importante destacar o parâmetro inplace que vai ser muito utilizado

premier_league.rename(columns={'Round': 'Rodada', 'Date': 'Dia do Jogo', 'Team 1': 'Time 1', 'Team 2': 'Time 2', 'FT': 'ST', 'HT': 'PT', 'Year': 'Ano', 'Country': 'Localidade'}, inplace = True)
premier_league.head()

,Unnamed: 0,Rodada,Dia do Jogo,Time 1,ST,PT,Time 2,Ano,Localidade,FT Team 1,FT Team 2,HT Team 1,HT Team 2,GGD,Team 1 (pts),Team 2 (pts)
0,0,1,(Sat) 19 Aug 1995 (W33),Aston Villa FC,3-1,3-0,Manchester United FC,1995,ENG,3,1,3,0,2,3,0
1,1,1,(Sat) 19 Aug 1995 (W33),Blackburn Rovers FC,1-0,1-0,Queens Park Rangers FC,1995,ENG,1,0,1,0,1,3,0
2,2,1,(Sat) 19 Aug 1995 (W33),Chelsea FC,0-0,0-0,Everton FC,1995,ENG,0,0,0,0,0,1,1
3,3,1,(Sat) 19 Aug 1995 (W33),Liverpool FC,1-0,0-0,Sheffield Wednesday FC,1995,ENG,1,0,0,0,1,3,0
4,4,1,(Sat) 19 Aug 1995 (W33),Manchester City FC,1-1,0-1,Tottenham Hotspur FC,1995,ENG,1,1,0,1,0,1,1

In [ ]:
# retirando um coluna desnecessária com o .drop
premier_league.drop(columns='Unnamed: 0', inplace= True)

In [91]:
# senti a necessidade de separar novamente dessa vez por temporada o dataset, sinto que facilita muito a menor quantidade de dados a serem trabalhados nesse caso visto que meu objetivo
# é remontar a tabela final de apenas uma temporada

temporadas = premier_league['Ano'].unique()
temporadas

array([1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005,
       2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016,
       2017, 2018, 2019], dtype=int64)

In [96]:
# aplicando o mesmo conceito do loop desta vez para cada temporada

for ano in temporadas:
    caminho_do_arquivo = f"./Dataset da Semana 3/temporada_{ano}.csv"
    premier_league[premier_league['Ano'] == ano].to_csv(caminho_do_arquivo)

In [151]:
# lendo novamente o dataset

temporada_2018 = pd.read_csv('./Dataset da Semana 3/temporada_2018.csv')
temporada_2018.head()

,Unnamed: 0,Rodada,Dia do Jogo,Time 1,ST,PT,Time 2,Ano,Localidade,FT Team 1,FT Team 2,HT Team 1,HT Team 2,GGD,Team 1 (pts),Team 2 (pts)
0,8740,1,(Fri) 10 Aug 2018 (W32),Manchester United FC,2-1,1-0,Leicester City FC,2018,ENG,2,1,1,0,1,3,0
1,8741,1,(Sat) 11 Aug 2018 (W32),AFC Bournemouth,2-0,1-0,Cardiff City FC,2018,ENG,2,0,1,0,2,3,0
2,8742,1,(Sat) 11 Aug 2018 (W32),Fulham FC,0-2,0-1,Crystal Palace FC,2018,ENG,0,2,0,1,2,0,3
3,8743,1,(Sat) 11 Aug 2018 (W32),Huddersfield Town AFC,0-3,0-2,Chelsea FC,2018,ENG,0,3,0,2,3,0,3
4,8744,1,(Sat) 11 Aug 2018 (W32),Newcastle United FC,1-2,1-2,Tottenham Hotspur FC,2018,ENG,1,2,1,2,1,0,3

In [152]:
# a mesma coluna volta a aparecer então removendo ela de novo

temporada_2018.drop(columns= 'Unnamed: 0', inplace=True)

In [158]:
# aqui vamos criar as pontuações dentro e fora de casa que permitem posteriormente uma análise mais detalhada

pontuacao_em_casa = temporada_2018.groupby(['Ano','Localidade','Time 1']).sum().reset_index()[['Ano','Localidade','Time 1','Team 1 (pts)' ]]

pontuacao_fora_casa = temporada_2018.groupby(['Ano','Localidade','Time 2']).sum().reset_index()[['Ano','Localidade','Time 2','Team 2 (pts)' ]]

In [159]:
# renomeando as colunas para ficar tudo em português 

pontuacao_em_casa.rename(columns = {'Time 1':'Time', 'Team 1 (pts)':'Pontuação'}, inplace=True)

pontuacao_fora_casa.rename(columns = {'Time 2':'Time', 'Team 2 (pts)':'Pontuação'}, inplace=True)

In [160]:
# criando uma coluna para definir quando um jogo foi realizado dentro ou fora de cara 

pontuacao_fora_casa['Local'] = 'Fora de Casa'

pontuacao_em_casa['Local'] = 'Em Casa'

In [161]:
# no dataframe final é disposto os times que participaram dessa temporada nesse ano juntamente com a pontuação obtida jogando dentro e fora de casa

contabiliza_pontos = pontuacao_em_casa.append(pontuacao_fora_casa)
contabiliza_pontos

     Ano Localidade                         Time  Pontuação         Local
0   2018        ENG             AFC Bournemouth          29       Em Casa
1   2018        ENG                  Arsenal FC          45       Em Casa
2   2018        ENG   Brighton & Hove Albion FC          23       Em Casa
3   2018        ENG                  Burnley FC          23       Em Casa
4   2018        ENG             Cardiff City FC          20       Em Casa
5   2018        ENG                  Chelsea FC          42       Em Casa
6   2018        ENG           Crystal Palace FC          20       Em Casa
7   2018        ENG                  Everton FC          34       Em Casa
8   2018        ENG                   Fulham FC          21       Em Casa
9   2018        ENG       Huddersfield Town AFC           9       Em Casa
10  2018        ENG           Leicester City FC          27       Em Casa
11  2018        ENG                Liverpool FC          53       Em Casa
12  2018        ENG          Manchester City FC          54       Em Casa
13  2018        ENG        Manchester United FC          36       Em Casa
14  2018        ENG         Newcastle United FC          25       Em Casa
15  2018        ENG              Southampton FC          23       Em Casa
16  2018        ENG        Tottenham Hotspur FC          38       Em Casa
17  2018        ENG                  Watford FC          27       Em Casa
18  2018        ENG          West Ham United FC          31       Em Casa
19  2018        ENG  Wolverhampton Wanderers FC          34       Em Casa
0   2018        ENG             AFC Bournemouth          16  Fora de Casa
1   2018        ENG                  Arsenal FC          25  Fora de Casa
2   2018        ENG   Brighton & Hove Albion FC          13  Fora de Casa
3   2018        ENG                  Burnley FC          17  Fora de Casa
4   2018        ENG             Cardiff City FC          14  Fora de Casa
5   2018        ENG                  Chelsea FC          30  Fora de Casa
6   2018        ENG           Crystal Palace FC          29  Fora de Casa
7   2018        ENG                  Everton FC          20  Fora de Casa
8   2018        ENG                   Fulham FC           5  Fora de Casa
9   2018        ENG       Huddersfield Town AFC           7  Fora de Casa
10  2018        ENG           Leicester City FC          25  Fora de Casa
11  2018        ENG                Liverpool FC          44  Fora de Casa
12  2018        ENG          Manchester City FC          44  Fora de Casa
13  2018        ENG        Manchester United FC          30  Fora de Casa
14  2018        ENG         Newcastle United FC          20  Fora de Casa
15  2018        ENG              Southampton FC          16  Fora de Casa
16  2018        ENG        Tottenham Hotspur FC          33  Fora de Casa
17  2018        ENG                  Watford FC          23  Fora de Casa
18  2018        ENG          West Ham United FC          21  Fora de Casa
19  2018        ENG  Wolverhampton Wanderers FC          23  Fora de Casa